<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


<form class="form-horizontal">

<input type="hidden" name="ope" id="ope" value="{{ope}}"/>
<fieldset>
<a href="/productos/" class="btn btn-link">
	<span class="glyphicon glyphicon-chevron-left"></span>
	Regresar
</a>
<!-- Form Name -->
<legend>Usuario</legend>



<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Descripcion">Descripcion</label>  
  <div class="col-md-4">
  <input id="Descripcion" name="Descripcion" type="text" placeholder="" class="form-control input-md" required="" value="{{productos.[0].descripcion}}">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Precio">Precio</label>  
  <div class="col-md-4">
  <input id="Precio" name="Precio" type="text" placeholder="" class="form-control input-md" required="" value="{{productos.[0].precio}}">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Existencia">Existencia</label>  
  <div class="col-md-2">
  <input id="Existencia" name="Existencia" type="number" placeholder="" class="form-control input-md" required="" value="{{productos.[0].existencia}}">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="btnOperacion"></label>
  <div class="col-md-4">
    <button type="button" id="btnOperacion" name="btnOperacion" id="btnOperacion" class="btn btn-success">Aceptar</button>
  </div>
</div>

</fieldset>

<div class="alert alert-success" style="display: none" role="alert" id="alerta1">Se inserto correctamente</div>
<div class="alert alert-danger" style="display: none"  role="alert" id="alerta2">Hubo un problema al insertar el registro</div>

<input type="hidden" name="__IdProducto" IdProducto="__IdProducto" value="{{productos.[0].IdProducto}}">

</form>

<script type="text/javascript">
	
 $(document).ready(function(){
    $("#btnOperacion").click(function(){
       
        $.post("/productos/operacion",{
          descripcion: $("#Descripcion").val(),
          precio: $("#Precio").val(),
          existencia:$("#Existencia").val(),
          ope:$("#ope").val(),
          IdProducto:$("#__IdProducto").val()
        },
        function(data,status){
           
           var campos = ["Descripcion","Precio","Existencia"];

           if (parseInt(data) == 1) {
           	  $("#alerta1").fadeIn("slow");
           	  QuitarMsg("alerta1");
           	  LimpiarCajasTexto(campos);
           	}else{
           	  $("#alerta2").fadeIn("slow");
           	  QuitarMsg("alerta2");
           	}

           // alert("Data: " + data + "\nStatus: " + status);
        });

        
    });

});

//funcion para limpiar las cajas de texto por medio de un arreglo
LimpiarCajasTexto = function(args){
  
 for (var i = 0; i < args.length; i++) {
 	 $("#"+args[i]).val("");
   }
 
}

//Funcion para quitar la alerta
 QuitarMsg = function (id){
 	setTimeout(function(){ $("#"+id).fadeOut("slow");}, 3000);
 }
 
</script>

</body>
</html>